
h1 {
text-align: center;
color: #6f7bfc;
}
.about{
    color: #6f7bfc;
}
.skills{
    color: #6f7bfc;
}
.projects { 
    display:flex; 
    flex-wrap:wrap; 
} 
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: Black; 
border-radius: 25%;
}
.contact
{
    color: #6f7bfc;
}
.project img{
width: 300px;
height: 300px;
margin: 10px;
border: 2px solid rgb(50, 79, 108); 
display: block;
margin: auto;
}



